
/* landing */
#home {
    position: relative;
    padding: 190px 0px 120px 0px;
    background: url('../../components/img/bglog.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    #home .caption {
      padding: 60px 0; }
      #home .caption h2 {
        color: #fff; }
      #home .caption p {
        font-size: 18px;
        margin-top: 25px;
        color: #fff; }
      #home .caption .btn {
        margin-top: 25px; }
      #home .caption .btn-blue {
        margin-left: 15px; }
        #home .caption .btn-blue i {
          position: relative;
          top: 5px;
          margin-right: 10px; }
          #home .rightbar{
            width : 500px;
            height: 600px;
            margin-top: -300px;
          }
    #home .signup-form {
      font-family:'vintage';
      background-color: #fff;
      padding: 35px;
      border-radius: 5px; }
      #home .sign {
        font-family: 'Raleway', sans-serif; 
        font-size: 25px;
        font-weight: bold;}
      #home .signup-form input {
        border: 1px solid #eee;
        height: 38px;
        box-shadow: none !important; }
      #home .signup-form input:focus {
        border-color: #eef58c; }
      #home .signup-form .form-control {
        font-size: 16px;
        padding: 10px 15px;
        color: #555;
        background-color: #fff;
        border-radius: 3px; }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; }
  /* endlanding */
  .navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: rgb(235, 236, 145);
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgb(83, 86, 92);
    }
}
.navtitle{
  font-family: 'Raleway', sans-serif; 
  font-size: 32px;
  font-weight: bold;
}
  /* button */
 
        
      