@import "https://fonts.googleapis.com/css?family=Raleway:300,400,700";

/* landing */
#reg {
    position: relative;
    padding: 10px 0px 100px 0px;
    background: url('../components/img/bglogin.jpg');   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    #reg .caption {
      padding: 60px 0; }
      #reg .caption h2 {
        color: #fff; }
      #reg .caption p {
        font-size: 18px;
        margin-top: 25px;
        color: #fff; }
      #reg .caption .btn {
        margin-top: 25px; }
      #reg .caption .btn-blue {
        margin-left: 15px; }
        #reg .caption .btn-blue i {
          position: relative;
          top: 5px;
          margin-right: 10px; }
          #reg .rightbar{
            width : 500px;
            height: 600px;
            margin-top: -300px;
          }
    #reg .signup-form {
      font-family:'sans-serif';
      background-color: #fff;
      padding: 40px;
      border-radius: 5px; }
      #reg .sign {
        font-family: 'Raleway', sans-serif; 
        font-size: 28px;
        font-weight: bold;}
      #reg .signup-form input {
        border: 1px solid #eee;
        height: 38px;
        box-shadow: none !important; }
      #reg .signup-form input:focus {
        border-color: #44c5ee; }
      #reg .signup-form .form-control {
        font-size: 16px;
        padding: 10px 15px;
        color: #555;
        background-color: #fff;
        border-radius: 3px; }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; }
  /* endlanding */
  .navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgb(83, 86, 92);
    }
}
.navtitle{
  font-family: 'Raleway', sans-serif; 
  font-size: 32px;
  font-weight: bold;
}
  /* button */
  .btn-blue {
    background: #024470;
    padding: 10px 28px;
    border: 2px solid #44c5ee;
    color: #fff;
    border-radius: 40px;
    font-weight: 700;
    letter-spacing: 0.08em;
    -webkit-transition: 0.5s all;
            transition: 0.5s all;
    box-shadow: 0px 0px 20px 0px rgba(250, 245, 245, 0.6);
    outline: none !important; }
  
  .btn-blues:hover,
  .btn-blues:focus,
  .btn-blues:active {
    background: #fff;}
    .btn-blues {
      background: #000000;
      padding: 10px 28px;
      border: 2px solid #44c5ee;
      color: #fff;
      border-radius: 50px;
      font-weight: 700;
      letter-spacing: 0.08em;
      -webkit-transition: 0.5s all;
              transition: 0.5s all;
      box-shadow: 0px 0px 20px 0px rgba(68, 197, 238, 0.6);
      outline: none !important; }
    
    .btn-blues:hover,
    .btn-blues:focus,
    .btn-blues:active {
      background: #fff;}
  /* endbutton */
  /* h1-h6 */
   .titles {
    font-family: 'Raleway', sans-serif; 
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 0.08em;
    margin-bottom: 35px;
    color: #fff; }
    .typed-cursor {
      opacity: 1;
      -webkit-animation: blink 0.7s infinite;
      animation: blink 0.7s infinite; }
      .desc {
        font-family: 'Raleway', sans-serif; 
        font-size: 24px;
        font-weight: bold;
        color: #fff; }
        .typed-cursor {
          opacity: 1;
          -webkit-animation: blink 0.7s infinite;
          animation: blink 0.7s infinite; 
        }
        
      